@media (max-width: 732px){
    .col-md-6 {
        flex: 0 0 auto;
        width: 100%;
    }
.cont{
    width: 100%;

}
.cont1{
    width: 100%;
    
}
.w-but{
    width: 100%;
    
}
.work-flow .nav-item{
    width: calc(100% / 3);
}

.section-intro1 .nav-item{
width: 100%;
}
}


